<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form2.css">
    <title>Emerging Business Insurance</title>
</head>

<body>
    <div class="inception-form-page">
        <div class="header-container">
            <img id="santamLogo" src="imgs/Logo.png" alt="Santam Logo">
            <h1>Emerging Business Insurance</h1>
        </div>
        <div class="questions-form-container">
            <form action="">
                <!-- BUSINESS DETAILS -->
                <div id="page1" class="question-page-container active">
                    <h2>Business Details</h2>
                    <hr>
                    <div id="business-name-div" class="question-container">
                        <label for="business_name">What is your business name?</label>
                        <input type="text" name="business_name" id="business_name" placeholder="Business Name" required>
                    </div>
                    <div id="business-address-div" class="question-container">
                        <label for="business_address">What is your business address?</label>
                        <input type="text" name="business_address" id="business_address" placeholder="Business Address"
                            required>
                    </div>
                    <div id="business-activity-div" class="question-container">
                        <label for="bisActDropdown">Select a Business Activity</label>
                        <select id="bisAct" name="bisAct">
                            <!-- SET DEFAULT -->
                            <option value="" disabled selected>Business Activity</option>
                            <% Object.keys(bisActsByType).forEach((key)=> { %>
                                <option value="<%= key %>">
                                    <%= key %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div id="business-activity-other-div" class="question-container hidden">
                        <label for="business_address">What is your business activity?</label>
                        <input type="text" name="business_activity" id="business_activity" placeholder="Business Activity">
                    </div>
                </div>
                <!-- COVER OPTIONS -->
                <div id="page2" class="question-page-container">
                    <h2>Cover Options</h2>
                    <h4>Select an option to learn more</h4>
                    <hr>
                    <!-- HTML WILL BE INSERT FROM JS FILE BASE ON BUSINESS ACTIVITY -->
                    <div id="cover-options-div" class="question-container cover-options"></div>
                    <div class="cover-details"></div>
                </div>
                <!-- PERSONAL DETAILS -->
                <div id="page3" class="question-page-container">
                    <h2>Personal Details</h2>
                    <hr>
                    <div id="first-name-div" class="question-container">
                        <label for="first_name">What is your first name?</label>
                        <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
                    </div>
                    <div id="last-name-div" class="question-container">
                        <label for="last_name">What is your last name?</label>
                        <input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
                    </div>
                    <div id="sa-citizen-div" class="question-container">
                        <label>Are you a South African Citizen?</label>
                        <div class="two-radio-btn-container">
                            <div class="single-select-checkbox">
                                <input type="radio" id="sa_citizen" name="citizenship" value="sa_citizen">
                                <label for="sa_citizen">Yes</label>
                            </div>
                            <div class="single-select-checkbox">
                                <input type="radio" id="foreign_citizen" name="citizenship" value="foreign_citizen">
                                <label for="foreign_citizen">No</label>
                            </div>
                        </div>
                    </div>
                    <div id="id-passport-number-div" class="question-container">
                        <label for="id_number" id="id_number_label">What is your ID number?</label>
                        <input type="text" inputmode="numeric" pattern="\d*" name="id_number" id="id_number"
                            placeholder="ID Number" required>
                    </div>
                </div>
                <!-- Policy information -->
                <div id="page4" class="question-page-container">
                    <h2>Policy Details</h2>
                    <hr>
                    <div id="inception-date-div" class="question-container">
                        <label for="inception_date">When would you like your policy to start?</label>
                        <select name="inception_date" id="inception_date" required>
                            <option value="" selected disabled>Select an Inception Date</option>
                            <option value="<%- currentDate %>"><%- currentDate %></option>
                            <option value="<%- tomorrowDate %>"><%- tomorrowDate %></option>
                            <option value="<%- firstNextMonth %>"><%- firstNextMonth %></option>
                        </select>
                    </div>
                    <div id="device-make-div" class="question-container device-info">
                        <label for="device_make">What is the device make?</label>
                        <input type="text" name="device_make" id="device_make" placeholder="Device Make">
                    </div>
                    <div id="device-model-div" class="question-container device-info">
                        <label for="device_model">What is the device model?</label>
                        <input type="text" name="device_model" id="device_model" placeholder="Device Model">
                    </div>
                </div>
                <div id="cell-number-div" class="question-container">
                    <input name="cell-number" id="cell-number" value="<%= cellNumber %>" hidden>
                </div>
            </form>
            <input type="hidden" id="bisActsByType" value='<%- JSON.stringify(bisActsByType) %>'>
            <input type="hidden" id="coverOptsByTypes" value='<%- JSON.stringify(coverOptsByTypes) %>'>
            <div class="btn-container">
                <button id="prev_btn">Previous</button>
                <button id="next_btn">Next</button>
                <button id="submit_btn">Submit</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/inception-form2.js"></script>
</body>

</html>